# Backend
backend/node_modules/
backend/uploads/
backend/uploads_part/
backend/src/config/.env
backend/files/

# Frontend
frontend/node_modules/
frontend/.nuxt/
frontend/.env
frontend/*.log
frontend/dist/
frontend/.eslintcache