.toolbar-box-bottom-left {
  position: absolute;
  z-index: 4;
  left: 20px;
  bottom: 12px;
}

.toolbar-box-bottom-left .card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f0f0f0;
  opacity: 0.6;
  height: 50px;
}

.slider--bg {
  width: 100%;
  height: 20px;
}
.slide-dot {
  top: 50px;
  background-color: #000;
  width: 24px;
  height: 24px;
  border-radius: 40px;
  border: 3px solid #f0f0f0;
  cursor: pointer;
}
.tools--slider-slide {
  display: flex;
  position: relative;
  width: 220px;
}

.tools--center {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.tools--slider-value {
  width: 30px;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  font-weight: 700;
  margin-right: 10px;
  float: left;
  display: flex;
  align-items: center;
}
.flex--middle {
  display: flex !important;
  justify-content: center;
}

.toolbox--seperator {
  border: 1px solid #ddd;
  margin: 4px 15px;
}

.tools--slider-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.paragraph-pen-size {
  font-size: 12px;
  font-weight: 700;
  color: #b3b3b3;
  line-height: 1.5;
  margin-bottom: 8px;
}
.tools--slider {
  padding: 7px 15px;
  margin-bottom: 10px;
}
.toolbar-box-middle-left {
  position: absolute;
  margin-top: 100px;
  margin-left: 20px;
  z-index: 7;
}

.toolbar-box-mini-left {
  z-index: 7;
}

.toolbar--vertical {
  width: 56px;
  height: auto;
}

.toolbar,
.toolbar-button {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.tools--menu {
  width: 100%;
  position: relative;
  padding: 7px;
}

.tools--item:first-child {
  margin-top: 0;
}

ul {
  margin-bottom: 0;
  list-style: none;
}

.tools--item {
  margin-top: 6px;
  position: relative;
  border-radius: 8px;
}

.tools--item--button,
.tools--item--color {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools--item--button:hover {
  background-color: #e3e3e3;
}

.tools--item--button .color--picked {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #000;
  bottom: 6px;
  right: 5px;
  border-radius: 7px;
  z-index: 7;
}

.tools--item--button.is--selected {
  background-color: #d6d6d6;
}

.toolbar--box--top-left {
  z-index: 8;
}

.toolbar--box--top-left,
.toolbar-box-top-right {
  margin-top: 12px;
  display: flex;
  position: absolute;
}

.logo--box {
  display: flex;
  margin: 0 15px 0 15px;
}

.logo--box img {
  height: 60px;
}

.toolbar--big,
.user--information {
  height: 50px;
}

.mr--1 {
  margin-right: 10px !important;
}

.flex,
.user--information {
  display: flex;
}

.toolbar--board--name {
  width: 100px;
  font-size: 16px;
  line-height: 1.25;
  display: block;
  font-family: 'Poppins', sans-serif;
}

.toolbar--board--name[readonly] {
  color: #333;
  cursor: text;
}

.toolbar--board--name,
.toolbar--board--name[readonly] {
  background: 0 0;
  border: 1px solid transparent;
  padding: 0 3px;
}

.toolbar--board--drop {
  height: 28x;
  cursor: pointer;
  margin-left: 15px;
  padding-right: 15px;
  border-right: 1px solid #ddd;
}

.flex--middle {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.dropdown--toolbar {
  top: 56px;
  left: -1px;
  min-width: 200px;
  width: 200px;
  background-color: #f0f0f0;
  border: 1px solid #e6e6e6;
}

.dropdown {
  position: absolute;
  border-radius: 8px;
  width: auto;
}

.fadeInUp {
  animation: fadeInUp 0.35 ease-in-out;
}

.dropdown--menu--item {
  border-bottom: 1px solid #e6e6e6;
}

.dropdown--menu--link {
  padding: 16px;
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #333;
}

a {
  text-decoration: none;
}

.dropdown.dropdown--toolbar ul {
  padding: 0;
  margin: 0;
}

.toolbar--board--button {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}

.toolbar--board--item {
  padding: 10px 15px 10px 10px;
}

.toolbar--board--pdf {
  padding: 10px 15px 10px 10px;
  border-left: 2px solid black;
}

.toolbar--board {
  position: relative;
}

.toolbar--button--icon {
  display: inline-block;
  margin-right: 10px;
}

.toolbar--button--colored {
  background-color: #fe6011 !important;
  color: #fff;
}

.toolbar--button {
  background-color: #f3f3f3;
}

.toolbar--button {
  pointer-events: all;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  padding: 0 12px;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  z-index: 10;
}

.toolbar-box-top-right {
  display: flex;
  right: 2%;
  flex-direction: row;
  z-index: 7;
}

.is--hidden {
  display: none !important;
}

.toolbar--button--profile-icon {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.toolbar--button--icon.is--last {
  margin-right: 0;
}

.ml--1 {
  margin-left: 10px !important;
}

.dropdown.is--reverse {
  right: 0 !important;
  left: initial;
}

.fa-home {
  color: #333;
}

.toolbox {
  top: -12px;
  left: 54px;
  border-radius: 24px;
  border: 1px solid #ddd;
  padding: 5px;
  position: absolute;
  background-color: #f0f0f0;
}

.fadeInLeft {
  animation: fadeInLeft 0.35 ease-in-out;
}

.tools--menu--colors.tools--menu--inline {
  margin: 0 -2px !important;
}
.tools--menu .mg-0 {
  margin-top: 0 !important;
}

.tools--menu--inlinefloat {
  padding: 7px 15px;
  display: flex;
  flex-flow: wrap;
}

.action--wrapper {
  display: flex;
  flex-flow: row;
  padding: 7px 15px 0px 15px;
}

.tools--menu--inlinefloat:after,
.tools--menu--inlinefloat:before {
  content: ' ';
  display: table;
}

.tools--menu--inline {
  padding: 7px 15px;
  display: flex;
  flex-direction: row;
  margin: 0 2px;
  position: relative;
}

.tools--menu {
  padding: 7px;
  position: relative;
  width: 100%;
}

.tools--menu--colors .tools--item {
  margin: 0 2px;
}

.tools--item--color,
.tools--item--button .predefined--color {
  width: 22px;
  height: 22px;
  border-radius: 11px;
}

.color-picker-wrapper {
  display: flex;
  justify-content: center;
}

.vacp-color-picker {
  background-color: #f0f0f0 !important;
  border: 1px solid #ddd;
  border-radius: 8px;
}
